# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
